* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #EFEAE3;
}

/* Navbar */

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}


#nav-logo img {
    width: 170px;
}

#nav-links {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 30px;

}

#nav-links li {
    /* list-style: none; */
    border: 1px solid #b5b0aa;
    border-radius: 1000px;
    padding: 10px 20px;
}

#nav-links a li {
    text-decoration: none;
    color: black;
    align-items: center;
}

#nav-links a {
    text-decoration: none;
}


#nav-links a li {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-links a li:hover{
    color: white;
}

#nav-links a li:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-links a li:hover::after {
    bottom: 0;
    border-radius: 0;
    color: white;
}

#nav-links a li {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}


/* Hero */

#page1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 22px;
}

#page1-left img {
    width: 300px;
    border-radius: 20px;
}

#page1-left p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

#page1-right h1 {
    line-height: 0.9;
    font-size: 150px;
    font-weight: 700;
}

#that {
    display: inline-block;
    margin-left: 140px;
    /* jitna right chahiye utna increase karo */
}

#INSPIRE {
    letter-spacing: -5px;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}
