* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    padding: 20px 20px;

}

#hero1 {
    height: 30vw;
    width: 30vw;
    background-color: rgb(39, 33, 220);
    border-radius: 50%;
    position: absolute;
    animation-name: anima2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#hero2 {
    height: 30vw;
    width: 30vw;
    background-color: red;
    border-radius: 50%;
    animation-name: anima;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anima {
    from {
        transform: translate(-10%, -10%) skew(-10);
    }

    to {
        transform: translate(10%, 10%) skew(10deg);
    }

}

@keyframes anima2 {
    from {
        transform: translate(10%, 10%) skew(-10);
    }

    to {
        transform: translate(-10%, -10%) skew(10deg);
    }

}

img{
    height: 400px;
    width: 400px;
}